{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ recipient.full_name }}</h5>
                    <p class="card-text">Электронная почта: {{ recipient.email }}</p>
                    <p class="card-text">Комментарий: {{ recipient.comment }}</p>
                    <a href="{% url 'recipient:recipient_list' %}" class="btn btn-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}