{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <p class="lead pt-md-5 pb-md-4">Сервис рассылок - здесь Вы можете настроить свои рассылки.</p>

</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for recipient in recipients %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ recipient.full_name }}</h5>
                    <a href="{% url 'recipient:recipient_detail' recipient.pk %}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'recipient:recipient_edit' recipient.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
                    <a href="{% url 'recipient:recipient_delete' recipient.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}